/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.santd-radio-group {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  line-height: unset;
  font-size: 0;
}
.santd-radio-wrapper {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  margin-right: 8px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
}
.santd-radio {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: sub;
  outline: none;
  cursor: pointer;
}
.santd-radio-wrapper:hover .santd-radio,
.santd-radio:hover .santd-radio-inner,
.santd-radio-input:focus + .santd-radio-inner {
  border-color: #1890ff;
}
.santd-radio-input:focus + .santd-radio-inner {
  box-shadow: 0 0 0 3px rgba(24, 144, 255, 0.08);
}
.santd-radio-checked::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #1890ff;
  border-radius: 50%;
  visibility: hidden;
  animation: antRadioEffect 0.36s ease-in-out;
  animation-fill-mode: both;
  content: '';
}
.santd-radio:hover::after,
.santd-radio-wrapper:hover .santd-radio::after {
  visibility: visible;
}
.santd-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  transition: all 0.3s;
}
.santd-radio-inner::after {
  position: absolute;
  top: 3px;
  left: 3px;
  display: table;
  width: 8px;
  height: 8px;
  background-color: #1890ff;
  border-top: 0;
  border-left: 0;
  border-radius: 8px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content: ' ';
}
.santd-radio-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}
.santd-radio-checked .santd-radio-inner {
  border-color: #1890ff;
}
.santd-radio-checked .santd-radio-inner::after {
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.santd-radio-disabled .santd-radio-inner {
  background-color: #f5f5f5;
  border-color: #d9d9d9 !important;
  cursor: not-allowed;
}
.santd-radio-disabled .santd-radio-inner::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.santd-radio-disabled .santd-radio-input {
  cursor: not-allowed;
}
.santd-radio-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
span.santd-radio + * {
  padding-right: 8px;
  padding-left: 8px;
}
.santd-radio-button-wrapper {
  position: relative;
  display: inline-block;
  height: 32px;
  margin: 0;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 30px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  border-left: 0;
  cursor: pointer;
  transition: color 0.3s, background 0.3s, border-color 0.3s;
  font-size: 14px;
}
.santd-radio-button-wrapper a {
  color: rgba(0, 0, 0, 0.65);
}
.santd-radio-button-wrapper > .santd-radio-button {
  display: block;
  width: 0;
  height: 0;
  margin-left: 0;
}
.santd-radio-group-large .santd-radio-button-wrapper {
  height: 40px;
  font-size: 16px;
  line-height: 38px;
}
.santd-radio-group-small .santd-radio-button-wrapper {
  height: 24px;
  padding: 0 7px;
  line-height: 22px;
}
.santd-radio-button-wrapper:not(:first-child)::before {
  position: absolute;
  top: 0;
  left: -1px;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #d9d9d9;
  content: '';
}
.santd-radio-button-wrapper:first-child {
  border-left: 1px solid #d9d9d9;
  border-radius: 4px 0 0 4px;
}
.santd-radio-button-wrapper:last-child {
  border-radius: 0 4px 4px 0;
}
.santd-radio-button-wrapper:first-child:last-child {
  border-radius: 4px;
}
.santd-radio-button-wrapper:hover {
  position: relative;
  color: #1890ff;
}
.santd-radio-button-wrapper:focus-within {
  outline: 3px solid rgba(24, 144, 255, 0.06);
}
.santd-radio-button-wrapper .santd-radio-inner,
.santd-radio-button-wrapper input[type='checkbox'],
.santd-radio-button-wrapper input[type='radio'] {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
.santd-radio-button-wrapper-checked {
  z-index: 1;
  color: #1890ff;
  background: #fff;
  border-color: #1890ff;
  box-shadow: -1px 0 0 0 #1890ff;
}
.santd-radio-button-wrapper-checked::before {
  background-color: #1890ff !important;
  opacity: 0.1;
}
.santd-radio-button-wrapper-checked:first-child {
  border-color: #1890ff;
  box-shadow: none !important;
}
.santd-radio-button-wrapper-checked:hover {
  color: #40a9ff;
  border-color: #40a9ff;
  box-shadow: -1px 0 0 0 #40a9ff;
}
.santd-radio-button-wrapper-checked:active {
  color: #096dd9;
  border-color: #096dd9;
  box-shadow: -1px 0 0 0 #096dd9;
}
.santd-radio-button-wrapper-checked:focus-within {
  outline: 3px solid rgba(24, 144, 255, 0.06);
}
.santd-radio-group-solid .santd-radio-button-wrapper-checked:not(.santd-radio-button-wrapper-disabled) {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
}
.santd-radio-group-solid .santd-radio-button-wrapper-checked:not(.santd-radio-button-wrapper-disabled):hover {
  color: #fff;
  background: #40a9ff;
  border-color: #40a9ff;
}
.santd-radio-group-solid .santd-radio-button-wrapper-checked:not(.santd-radio-button-wrapper-disabled):active {
  color: #fff;
  background: #096dd9;
  border-color: #096dd9;
}
.santd-radio-group-solid .santd-radio-button-wrapper-checked:not(.santd-radio-button-wrapper-disabled):focus-within {
  outline: 3px solid rgba(24, 144, 255, 0.06);
}
.santd-radio-button-wrapper-disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.santd-radio-button-wrapper-disabled:first-child,
.santd-radio-button-wrapper-disabled:hover {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.santd-radio-button-wrapper-disabled:first-child {
  border-left-color: #d9d9d9;
}
.santd-radio-button-wrapper-disabled.santd-radio-button-wrapper-checked {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #d9d9d9;
  box-shadow: none;
}
@keyframes antRadioEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
@supports (-moz-appearance: meterbar) and (background-blend-mode: difference, normal) {
  .santd-radio {
    vertical-align: text-bottom;
  }
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.santd-input {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-variant: tabular-nums;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
}
.santd-input::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.santd-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.santd-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.santd-input:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.santd-input:focus {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.santd-input-disabled {
  background-color: #f5f5f5;
  opacity: 1;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.santd-input-disabled:hover {
  border-color: #e6d8d8;
  border-right-width: 1px !important;
}
.santd-input[disabled] {
  background-color: #f5f5f5;
  opacity: 1;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.santd-input[disabled]:hover {
  border-color: #e6d8d8;
  border-right-width: 1px !important;
}
textarea.santd-input {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
  min-height: 32px;
}
.santd-input-large {
  padding: 6px 11px;
  height: 40px;
  font-size: 16px;
}
.santd-input-small {
  padding: 1px 7px;
  height: 24px;
}
.santd-input-group {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
.santd-input-group[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
.santd-input-group > [class*="col-"] {
  padding-right: 8px;
}
.santd-input-group > [class*="col-"]:last-child {
  padding-right: 0;
}
.santd-input-group-addon,
.santd-input-group-wrap,
.santd-input-group > .santd-input {
  display: table-cell;
}
.santd-input-group-addon:not(:first-child):not(:last-child),
.santd-input-group-wrap:not(:first-child):not(:last-child),
.santd-input-group > .santd-input:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.santd-input-group-addon,
.santd-input-group-wrap {
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
}
.santd-input-group-wrap > * {
  display: block !important;
}
.santd-input-group .santd-input {
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.santd-input-group .santd-input:focus {
  z-index: 1;
  border-right-width: 1px;
}
.santd-input-group .santd-input:hover {
  z-index: 1;
  border-right-width: 1px;
}
.santd-input-group .santd-input:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.santd-input-group-addon {
  padding: 0 11px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  position: relative;
  transition: all 0.3s;
}
.santd-input-group-addon .santd-select {
  margin: -5px -11px;
}
.santd-input-group-addon .santd-select .santd-select-selection {
  background-color: inherit;
  margin: -1px;
  border: 1px solid transparent;
  box-shadow: none;
}
.santd-input-group-addon .santd-select-open .santd-select-selection,
.santd-input-group-addon .santd-select-focused .santd-select-selection {
  color: #1890ff;
}
.santd-input-group-addon > i:only-child:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.santd-input-group > .santd-input:first-child,
.santd-input-group-addon:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.santd-input-group > .santd-input:first-child .santd-select .santd-select-selection,
.santd-input-group-addon:first-child .santd-select .santd-select-selection {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.santd-input-group > .santd-input-affix-wrapper:not(:first-child) .santd-input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.santd-input-group > .santd-input-affix-wrapper:not(:last-child) .santd-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.santd-input-group-addon:first-child {
  border-right: 0;
}
.santd-input-group-addon:last-child {
  border-left: 0;
}
.santd-input-group > .santd-input:last-child,
.santd-input-group-addon:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.santd-input-group > .santd-input:last-child .santd-select .santd-select-selection,
.santd-input-group-addon:last-child .santd-select .santd-select-selection {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.santd-input-group-large .santd-input,
.santd-input-group-large > .santd-input-group-addon {
  padding: 6px 11px;
  height: 40px;
  font-size: 16px;
}
.santd-input-group-small .santd-input,
.santd-input-group-small > .santd-input-group-addon {
  padding: 1px 7px;
  height: 24px;
}
.santd-input-group-large .santd-select-selection--single {
  height: 40px;
}
.santd-input-group-small .santd-select-selection--single {
  height: 24px;
}
.santd-input-group .santd-input-affix-wrapper {
  display: table-cell;
  width: 100%;
  float: left;
}
.santd-input-group.santd-input-group-compact {
  zoom: 1;
}
.santd-input-group.santd-input-group-compact:before,
.santd-input-group.santd-input-group-compact:after {
  content: "";
  display: table;
}
.santd-input-group.santd-input-group-compact:after {
  clear: both;
}
.santd-input-group.santd-input-group-compact-addon:not(:first-child):not(:last-child),
.santd-input-group.santd-input-group-compact-wrap:not(:first-child):not(:last-child),
.santd-input-group.santd-input-group-compact > .santd-input:not(:first-child):not(:last-child) {
  border-right-width: 1px;
  border-right-color: transparent;
}
.santd-input-group.santd-input-group-compact-addon:not(:first-child):not(:last-child):hover,
.santd-input-group.santd-input-group-compact-wrap:not(:first-child):not(:last-child):hover,
.santd-input-group.santd-input-group-compact > .santd-input:not(:first-child):not(:last-child):hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.santd-input-group.santd-input-group-compact-addon:not(:first-child):not(:last-child):focus,
.santd-input-group.santd-input-group-compact-wrap:not(:first-child):not(:last-child):focus,
.santd-input-group.santd-input-group-compact > .santd-input:not(:first-child):not(:last-child):focus {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.santd-input-group.santd-input-group-compact > * {
  border-radius: 0;
  border-right-width: 0;
  vertical-align: top;
  float: none;
  display: inline-block;
}
.santd-input-group.santd-input-group-compact > span:not(:last-child) > .santd-input {
  border-right-width: 0;
}
.santd-input-group.santd-input-group-compact .santd-input {
  float: none;
}
.santd-input-group.santd-input-group-compact > .santd-select > .santd-select-selection,
.santd-input-group.santd-input-group-compact > .santd-calendar-picker .santd-input,
.santd-input-group.santd-input-group-compact > .santd-select-auto-complete .santd-input,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker .santd-input,
.santd-input-group.santd-input-group-compact > .santd-mention-wrapper .santd-mention-editor,
.santd-input-group.santd-input-group-compact > .santd-time-picker .santd-time-picker-input {
  border-radius: 0;
  border-right-width: 1px;
  border-right-color: transparent;
}
.santd-input-group.santd-input-group-compact > .santd-select > .santd-select-selection:hover,
.santd-input-group.santd-input-group-compact > .santd-calendar-picker .santd-input:hover,
.santd-input-group.santd-input-group-compact > .santd-select-auto-complete .santd-input:hover,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker .santd-input:hover,
.santd-input-group.santd-input-group-compact > .santd-mention-wrapper .santd-mention-editor:hover,
.santd-input-group.santd-input-group-compact > .santd-time-picker .santd-time-picker-input:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.santd-input-group.santd-input-group-compact > .santd-select > .santd-select-selection:focus,
.santd-input-group.santd-input-group-compact > .santd-calendar-picker .santd-input:focus,
.santd-input-group.santd-input-group-compact > .santd-select-auto-complete .santd-input:focus,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker .santd-input:focus,
.santd-input-group.santd-input-group-compact > .santd-mention-wrapper .santd-mention-editor:focus,
.santd-input-group.santd-input-group-compact > .santd-time-picker .santd-time-picker-input:focus {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.santd-input-group.santd-input-group-compact > *:first-child,
.santd-input-group.santd-input-group-compact > *:first-child > .santd-input,
.santd-input-group.santd-input-group-compact > .santd-select:first-child > .santd-select-selection,
.santd-input-group.santd-input-group-compact > .santd-calendar-picker:first-child .santd-input,
.santd-input-group.santd-input-group-compact > .santd-select-auto-complete:first-child .santd-input,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker:first-child .santd-input,
.santd-input-group.santd-input-group-compact > .santd-mention-wrapper:first-child .santd-mention-editor,
.santd-input-group.santd-input-group-compact > .santd-time-picker:first-child .santd-time-picker-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.santd-input-group.santd-input-group-compact > *:last-child,
.santd-input-group.santd-input-group-compact > .santd-select:last-child > .santd-select-selection,
.santd-input-group.santd-input-group-compact > .santd-calendar-picker:last-child .santd-input,
.santd-input-group.santd-input-group-compact > .santd-select-auto-complete:last-child .santd-input,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker:last-child .santd-input,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker-focused:last-child .santd-input,
.santd-input-group.santd-input-group-compact > .santd-mention-wrapper:last-child .santd-mention-editor,
.santd-input-group.santd-input-group-compact > .santd-time-picker:last-child .santd-time-picker-input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
  border-right-color: #d9d9d9;
}
.santd-input-group.santd-input-group-compact > *:last-child:hover,
.santd-input-group.santd-input-group-compact > .santd-select:last-child > .santd-select-selection:hover,
.santd-input-group.santd-input-group-compact > .santd-calendar-picker:last-child .santd-input:hover,
.santd-input-group.santd-input-group-compact > .santd-select-auto-complete:last-child .santd-input:hover,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker:last-child .santd-input:hover,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker-focused:last-child .santd-input:hover,
.santd-input-group.santd-input-group-compact > .santd-mention-wrapper:last-child .santd-mention-editor:hover,
.santd-input-group.santd-input-group-compact > .santd-time-picker:last-child .santd-time-picker-input:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.santd-input-group.santd-input-group-compact > *:last-child:focus,
.santd-input-group.santd-input-group-compact > .santd-select:last-child > .santd-select-selection:focus,
.santd-input-group.santd-input-group-compact > .santd-calendar-picker:last-child .santd-input:focus,
.santd-input-group.santd-input-group-compact > .santd-select-auto-complete:last-child .santd-input:focus,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker:last-child .santd-input:focus,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker-focused:last-child .santd-input:focus,
.santd-input-group.santd-input-group-compact > .santd-mention-wrapper:last-child .santd-mention-editor:focus,
.santd-input-group.santd-input-group-compact > .santd-time-picker:last-child .santd-time-picker-input:focus {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.santd-input-group.santd-input-group-compact > *:last-child:focus .santd-cascader-input,
.santd-input-group.santd-input-group-compact > .santd-select:last-child > .santd-select-selection:focus .santd-cascader-input,
.santd-input-group.santd-input-group-compact > .santd-calendar-picker:last-child .santd-input:focus .santd-cascader-input,
.santd-input-group.santd-input-group-compact > .santd-select-auto-complete:last-child .santd-input:focus .santd-cascader-input,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker:last-child .santd-input:focus .santd-cascader-input,
.santd-input-group.santd-input-group-compact > .santd-cascader-picker-focused:last-child .santd-input:focus .santd-cascader-input,
.santd-input-group.santd-input-group-compact > .santd-mention-wrapper:last-child .santd-mention-editor:focus .santd-cascader-input,
.santd-input-group.santd-input-group-compact > .santd-time-picker:last-child .santd-time-picker-input:focus .santd-cascader-input {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.santd-input-group.santd-input-group-compact > .santd-select-auto-complete .santd-input {
  vertical-align: top;
}
.santd-input-group.santd-input-group-compact > *:not(:last-child) {
  margin-right: -2px;
  border-right-width: 1px;
}
.santd-input-group-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.santd-input-affix-wrapper {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
}
.santd-input-affix-wrapper:hover .santd-input:not(.santd-input-disabled) {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.santd-input-affix-wrapper .santd-input {
  position: static;
}
.santd-input-affix-wrapper .santd-input-prefix,
.santd-input-affix-wrapper .santd-input-suffix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
.santd-input-affix-wrapper .santd-input-prefix :not(.anticon),
.santd-input-affix-wrapper .santd-input-suffix :not(.anticon) {
  line-height: 1.5;
}
.santd-input-affix-wrapper .santd-input-prefix {
  left: 12px;
}
.santd-input-affix-wrapper .santd-input-suffix {
  right: 12px;
}
.santd-input-affix-wrapper .santd-input:not(:first-child) {
  padding-left: 30px;
}
.santd-input-affix-wrapper .santd-input:not(:last-child) {
  padding-right: 30px;
}
.santd-input-affix-wrapper .santd-input {
  min-height: 100%;
}
.santd-input-search-icon {
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.3s;
}
.santd-input-search-icon:hover {
  color: #333;
}
.santd-input-search:not(.santd-input-search-small) > .santd-input-suffix {
  right: 12px;
}
.santd-input-search > .santd-input-suffix > .santd-input-search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.santd-input-search > .santd-input-suffix > .santd-input-search-button > .santd-icon-search {
  font-size: 16px;
}
.santd-input-search.santd-input-search-enter-button > .santd-input {
  padding-right: 46px;
}
.santd-input-search.santd-input-search-enter-button > .santd-input-suffix {
  right: 0;
}

ul.sanicons-list {
  margin: 10px 0;
  overflow: hidden;
  list-style: none;
}
ul.sanicons-list li {
  position: relative;
  float: left;
  width: 16.66%;
  height: 100px;
  margin: 3px 0;
  padding: 10px 0 0;
  overflow: hidden;
  color: #555;
  text-align: center;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
ul.sanicons-list li .santd-icon {
  margin: 12px 0 8px;
  font-size: 36px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
ul.sanicons-list li .san-icon-class {
  display: block;
  font-family: 'Lucida Console', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: nowrap;
  text-align: center;
  transform: scale(0.83);
}
ul.sanicons-list li .san-icon-class .san-badge {
  transition: color 0.3s ease-in-out;
}
ul.sanicons-list li:hover {
  color: #fff;
  background-color: #8ecafe;
}
ul.sanicons-list li:hover .santd-icon {
  transform: scale(1.4);
}
ul.sanicons-list li:hover .santd-badge {
  color: #fff;
}
ul.sanicons-list li.outlined:hover {
  background-color: #8ecafe;
}
ul.sanicons-list li.copied:hover {
  color: rgba(255, 255, 255, 0.2);
}
ul.sanicons-list li::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 110px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  content: 'Copied!';
}
ul.sanicons-list li.copied::after {
  top: -10px;
  opacity: 1;
}

